%section
  .container.content
    %h1 
      %i.icon-plus-sign-alt
      Add New Post
    
    .row
      .span12
        %form{method: 'post', action: '/post'}
          %p.text-info.lead
            Type a new post into the fields and click on add to create it.
          =snippet :'post/_fields'
          
          .form-actions
            %input.btn.btn-primary{type: 'submit', value: 'Add'}
            %a.btn{href:'/'} Cancel