%section
  .container.content
    %h1 
      %i.icon-bookmark
      =@post.heading
      - if @post.is_owned_by(session[:user])
        %span
          %small.muted
            %form#delete{method: 'post', action: '/post'}
              %input{type: 'hidden', name: 'id', value: @post.id}
              %input{type: 'hidden', name: '_method', value: 'delete'}
              %a{href:"/post/edit/#{@post.id}"}
                %i.icon-pencil
                edit
              &middot;
              %a{href:"#", onclick: "$('#delete').submit();"}
                %i.icon-remove
                delete
     
    .row
      .span12
        %br
        =markdown @post.content
        %br
    .row
      .span12
        %h3
          %i.icon-comment-alt
          Comments
          (#{@post.comments.size})
      - @post.comments.each do |comment|
        .span1
          %img.img-polaroid{src: comment.user_pic_url}
        .span11
          =markdown comment.content
          %small.muted
            by
            %a{href: comment.user_link}=comment.user_name
            on
            =comment.created_at.strftime "%e %b %Y, %l:%M %P"            
          
        .span12
          %hr
    - if session[:user]      
      .row
        .span12
          %h4
            %i.icon-comment
            Add new comment
        .span1
          %img.img-polaroid{src: session[:user]['picture']['data']['url']}
        .span11
          %form{method: 'post', action: '/comment'}
            %input{type: 'hidden', name: 'post_id', value: @post.id}
            %textarea.span6{name: 'content', placeholder: 'Type your comment here', rows: 5}
            %br
            %input.btn.btn-primary{type: 'submit', value: 'Add comment'}
    - else
      .row
        .span12.muted
          Please sign in to comment.