%section
  .container.content
    .span8
      - @posts.reverse.each do |post|
        %h3.text-info
          %i.icon-bookmark-empty
          =post.heading
        %small.muted
          by
          %a{href: post.userlink}=post.username
          on
          =post.timestamp.strftime "%e %b %Y, %I:%M %P"
      
        %p
          =markdown post.content

        %hr
      .pagination
        =@posts.pager.to_html("/")    
    
      