%section
  .container.content
    - @posts.reverse.each do |post|
      %row
        .span12
          %h3.text-info
            %i.icon-bookmark-empty
            =post.heading
          %small.muted
            by
            %a{href: post.userlink}=post.username
            on
            =post.timestamp.strftime "%e %b %Y, %I:%M %P"
            
          %p
            =markdown post.content

      %hr