!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title=BLOG_NAME
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %link{rel: 'stylesheet', href: BOOTSTRAP_THEME, type: 'text/css'}
    %link{rel: 'stylesheet', href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", type: 'text/css'}
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', type:  'text/css'}
    %link{rel: 'stylesheet', href: '//twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css', type:  'text/css'}
    %link{rel: 'stylesheet', href: '//twitter.github.com/bootstrap/assets/css/docs.css', type:  'text/css'}
    %script{type: 'text/javascript', src: "//code.jquery.com/jquery-1.9.1.min.js"}    
    %script{type: 'text/javascript', src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
    
    %link{rel: 'stylesheet', href: 'https://raw.github.com/jhollingworth/bootstrap-wysihtml5/master/dist/bootstrap-wysihtml5-0.0.2.css', type:  'text/css'}    
    %script{type: 'text/javascript', src: "https://raw.github.com/jhollingworth/bootstrap-wysihtml5/master/dist/bootstrap-wysihtml5-0.0.2.min.js"}  
  %body
    
    =toolbar
    =yield
    
    %br
    %footer
      %p.mute.footer &copy; Chang Sau Sheong 2013

:css
  body > .navbar .brand {
    color: #fff;
  }